body {
    background-color: #ececec;
}

.bg-primary {
    background-color: #974ae2!important;
}

/*.content>img{
    float: left;
    margin-left: 5px;
    display: block;
}
.content > p{
    float: right;
    text-align: justify;
}*/